<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat page for {{ user }}</title>
    
    <style type="text/css">
        .chatbox {
            padding: 10px;
            overflow: auto;
            max-height: 50vh;
        }
        
        .chatbox p {
            background-color: whitesmoke;
            padding: 5px;
            border-radius:10px;
            margin: 5px 0;
        }
    </style>
</head>

<body>
    <h1>Welcome, {{ user }}</h1>
    <hr>
    
    <div class="chatbox">
        {% for post in messages %}
            <p>({{ post.timestamp }}) {{ post.username }}: {{ post.message }}</p>
        {% endfor %}
    </div>
    
    <form method="POST">
        <textarea cols="50" rows="4" name="message" id="message"></textarea>
        <br>
        <button>Send Message</button>
    </form>
    
    
    <script>
        var timer = setTimeout(function() {
            location.reload()
        }, 10000)
    </script>

</body>

</html>
